# ======================
# GLOBAL NODE
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# BUILDS
# ======================
dist/
build/
.vite/

# ======================
# ENV FILES
# ======================
.env
.env.*
!.env.example

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# COVERAGE
# ======================
coverage/
.nyc_output/

# ======================
# PRISMA / DATABASE
# ======================
*.db
*.sqlite

# ======================
# IDE / EDITOR
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
